# Ignore everything by default
*

# Allow README.md
!README.md

# Allow specific folder (e.g., "my_folder")
!Resources/Violent Monkey Scripts Assets

# Ignore everything inside my_folder except allowed files (optional)
Resources/Violent Monkey Scripts Assets/*
!Resources/Violent Monkey Scripts Assets/template_index.json.py
